:root{
    --col1: #cf6af4; 
    --col2: #ebd6f2;
    --col3: #333;
    --errorcol: rgb(234, 21, 21);
}

*{
    margin: 0;
    padding: 0;
}



/* styling for the sign up pages */
.forminput_cont{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 10px; 
    width: 100%;
    align-items: center;
}
/* input tag */
.forminput_cont input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    border: 1px solid var(--col1);
}
.forminput_cont input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--col1);
}

.forminput_cont label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    display: block;
    color: var(--col1);
    width: 100%;
    margin-left: 40px;
}

.forminput_cont textarea{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    width: 90%;
    display: block;
    border: 1px solid var(--col1);
    min-height: 300px;
}

.forminput_cont textarea:focus{
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--col1);
}

.forminput_cont select {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: 0;
    width: 95%;
    display: block;
    border: 1px solid var(--col1);
  }

.main_button{
    color: var(--col1);
    background-color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--col1);
    width: fit-content;
    align-self: center;
    margin: 10px;

}

.main_button:hover{
    cursor: pointer;
    background-color: var(--col1);
    border: 1px solid var(--col1);
    color: #ffffff;
    transition: all 1s ease-in-out;
    border-radius: 50px;
    
}


/* paragraph styling in abddblog page */
.paragraph{
    margin: 30px 20px;
    box-shadow: 0px 0px 10px 0px var(--col1);
    display: flex;
    flex-direction: column;
    background-color: var(--col2);
    justify-content: center;
    align-items: center;
}

/* color for the error */
.formerror{
    color: var(--errorcol);
}

.loaderfullpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f43;
    position: fixed;
    z-index: 999;
  }
  




